.main-your-dao {
  font-family: "MuseoModerno", sans-serif;
  background-color: #fff;
  height: 100vh;
  position: absolute;
  /* overflow: hidden; */
  top: 0;
  width: 100vw;
  left: 0;
}

.proposal-header {
  font-family: "MuseoModerno";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
}

.proposal-info {
  font-family: "MuseoModerno";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
}

.your-dao-bg {
  background: linear-gradient(256.61deg, #ffa046 -0.6%, #e87825 100%);
  position: absolute;
  height: 130vh;
  width: 100vw;
  top: 0;
  z-index: 1;
}

.maindaoBg {
  background: linear-gradient(256.61deg, #ffa046 -0.6%, #e87825 100%);
  position: absolute;
  height: 130vh;
  width: 100vw;
  top: 0;
  z-index: 1;
}
.all-datadao-main-div {
  width: 100%;
  margin: 5% auto;
  /* max-width: 1240px; */
  z-index: 100;
  position: absolute;
}

.all-datadao-div {
  margin: 0 auto;
}
.all-datadao-title {
  text-align: center;
  padding: 5px;
  font-weight: 500;
  font-size: 4rem;
  /* letter-spacing: 0.04em; */
}

.all-datadao-subtext {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 400;
}
.all-datadao-section1 {
  padding: 10px;
}
.datadao-address {
  /* background-color: aqua; */
  /* width: 150px; */
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: max-content;
  padding: 5px 0px;
  font-size: 1rem;
  font-weight: 600;
  color: #fefcfc;
  /* border: 1px solid #4c2ffd; */
  /* padding: 10px; */
}
.all-datadao-section2 {
  width: auto;
  margin: 0 auto;
  margin-left: -15vh;
}
.dataDAo-details {
  width: 20%;
}

button.view-more-all-dao {
  display: flex;
  margin: 10px;
  padding: 10px 30px;
  background: #ffffff;
  border-radius: 50px;
  color: #fefcfc;
  border: none;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 131.02%;
  text-align: center;
  letter-spacing: 0.055em;
  text-transform: capitalize;
  color: #ff6054;
  width: 180px;
}

.view-more-btn {
  position: absolute;
  height: 30px;
  width: 30px;
  margin-top: -44px;
  margin-left: -40px;
  z-index: 10;
  cursor: pointer;
}

.your-dao-bg-images {
  width: 100vw;
  z-index: 50;
}

.leftCurvedLinesDao {
  position: absolute;
  z-index: 21;
  bottom: 0;
  left: 0;
}

.topCurvedLinesDao {
  position: absolute;
  z-index: 22;
  top: 0;
  left: 0;
}

.mainYourDaoBg {
  z-index: 20;
  top: 0;
  /* left:-20%; */
  left: 0;
  position: absolute;
  /* height: 100%; */
  margin-right: 10%;
  width: 100%;
}
/* -------------------- Pop Up Styling -------------------- */
.datadao-popup {
  height: 50vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-backdrop-filter: blur(30px);
  backdrop-filter: blur(30px);
  background-color: rgba(255, 255, 255, 0.64);
  opacity: 0.9;
  padding: 1rem;
  border: 1px solid #ffffff;
  z-index: 99;
  border-radius: 85px;
}

.datadao-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(254, 127, 72, 0.16);
  -webkit-backdrop-filter: blur(4.5px);
  backdrop-filter: blur(4.5px);
  z-index: 98;
}

.datadao-joinheader {
  font-family: "MuseoModerno", sans-serif;
  font-size: 48px;
  font-weight: 600;
  text-align: center;
  margin: 10px;
  margin-top: 50px;
  color: #ff923e;
}
/*----------------- Button Styling ------------ */

.rounded-view-data-dao-button {
  padding: 0.7rem 1rem;
  border-radius: 50px;
  background-color: #fff;
  color: #ff6054;
  border: none;
  width: 150px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.view-button-text {
  margin-right: 20%;
}
.rounded-join-data-dao-button {
  padding: 0.7rem 1rem;
  border-radius: 50px;
  color: #fff;
  background-color: #ff5f00;
  border: none;
  width: 150px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.rounded-view-data-dao-button:hover,
.view-circle:hover {
  /* background-color: #f2f2f2; */
  background-color: #ff5f00;
  color: #fff;
}
.rounded-join-data-dao-button:hover,
.join-circle:hover {
  /* background-color: #f2f2f2; */
  color: #ff5f00;
  background-color: #fff;
}

.view-circle {
  position: absolute;
  top: 50%;
  right: 5%;
  transform: translateY(-50%);
  width: 1.8rem;
  height: 1.8rem;
  border-radius: 50%;
  background-color: #ff5f00;
  transition: background-color 0.3s ease;
}
.join-circle {
  position: absolute;
  top: 50%;
  right: 5%;
  transform: translateY(-50%);
  width: 1.8rem;
  height: 1.8rem;
  border-radius: 50%;
  background-color: #fff;
  transition: background-color 0.3s ease;
}

.fa-arrow-right {
  font-size: 1rem;
}
.view-arrow {
  color: #fff;
}
.join-arrow {
  color: #ff5f00 !important;
}

.button-to-join {
  text-align: left;
}

@media screen and (min-width: 2561px) {
}

@media screen and (min-width: 2000px) and (max-width: 2560px) {
}

@media screen and (min-width: 1600px) and (max-width: 1999px) {
}

@media screen and (min-width: 1440px) and (max-width: 1599px) {
}

@media screen and (min-width: 1024px) and (max-width: 1439px) {
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
}

@media screen and (max-width: 767px) {
  .all-datadao-title {
    font-size: 20px;
  }
}
