.all-datadao-main-div {
  width: 100%;
  margin: 20px auto;
  max-width: 1240px;
}
.all-datadao-div {
  margin: 0 auto;
}
.all-datadao-title {
  text-align: center;
  padding: 10px;
}
.all-datadao-section1 {
  padding: 10px;
}
.datadao-address {
  /* background-color: aqua; */
  /* width: 150px; */
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: max-content;
  padding: 5px 0px;
  font-size: 1rem;
  font-weight: 600;
  color: #fefcfc;
  /* border: 1px solid #4c2ffd; */
  /* padding: 10px; */
}
.all-datadao-section2 {
  width: auto;
  margin: 0 auto;
}
.dataDAo-details {
  width: 20%;
}
button.view-more-all-dao {
  margin: 10px;
  padding: 10px 20px;
  background-color: #4c2ffd;
  color: #fefcfc;
  border: 1px solid #4c2ffd;
  border-radius: 5px;
  width: 120px;
}

@media screen and (min-width: 2561px) {
}

@media screen and (min-width: 2000px) and (max-width: 2560px) {
}

@media screen and (min-width: 1600px) and (max-width: 1999px) {
}

@media screen and (min-width: 1440px) and (max-width: 1599px) {
}

@media screen and (min-width: 1024px) and (max-width: 1439px) {
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
}

@media screen and (max-width: 767px) {
  .all-datadao-title {
    font-size: 20px;
  }
}
