.availabel-proposal-main-div {
  width: 100%;
  width: 100%;
  max-width: 1240px;
  margin: 20px auto;
  /* background-color: bisque; */
}
.availabel-proposal-section1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 20px 0px;
}
.availabel-proposal {
  margin: 0 auto;
}
.A-proposal-title {
  font-family: "MuseoModerno";
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.A-proposal-title2 {
  margin-top: 20px;
  margin-bottom: 30px;
}
.availabel-proposal-section2 {
  /* border: 1px solid gray; */
  display: flex;
  padding: 10px 0px;
  justify-content: flex-start;
  align-items: center;
}
#select-label-status {
  color: grey;
  font-family: "MuseoModerno";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
}
svg.css-hfutr2-MuiSvgIcon-root-MuiSelect-icon {
  fill: #fffffa77;
}
div.select-parent {
  color: #ffffff;
  border-radius: 10px;
  border: none;
  background-color: #fff;
  color: #ff5f00;
  transition: box-shadow 300ms cubic-bezier(0.55, 0, 0.1, 1) 0ms;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 8px,
    rgba(0, 0, 0, 0.23) 0px 0px 3px -2px, rgba(0, 0, 0, 0.17) 0px 0px 25px;
  background-image: linear-gradient(
    rgba(255, 255, 255, 0.09),
    rgba(255, 255, 255, 0.09)
  );
}
.availabel-proposal-section3 {
  width: 100%;
  display: grid;
  margin-top: 20px;
}
.proposal-grid-title {
  margin: 0;
}
#dropdown-formcontrol {
  min-width: 150px;
}
.css-jedpe8-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.css-jedpe8-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.css-jedpe8-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
  color: #ff5f00;
  text-align: center;
}

.create-proposal-parent {
  background-color: rgb(21, 22, 25);
  color: rgb(255, 255, 255);
  transition: box-shadow 300ms cubic-bezier(0.55, 0, 0.1, 1) 0ms;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 8px,
    rgba(0, 0, 0, 0.23) 0px 0px 3px -2px, rgba(0, 0, 0, 0.17) 0px 0px 25px;
}

button.create-proposal-btn {
  background-color: #4c2ffd;
  border: 1px solid #4c2ffd;
  font-weight: 700;
  color: #fefcfc;
  padding: 10px 20px;
  border-radius: 10px;
  width: 150px;
}
button.create-proposal-btn-popup {
  background-color: #f14c2c;
  border: 1px solid #f14c2c;
  font-weight: 700;
  font-size: 1.1rem;
  color: #fefcfc;
  padding: 10px 30px;
  border-radius: 10px;
  width: 100%;
}
.proposal-details table {
  border-radius: 10px;
  width: 400px;
  height: 250px;
  border: none;
  background-color: #ffa046;
  border-radius: 0 0 2.4rem 2.4rem;
  color: rgb(255, 255, 255);
  transition: box-shadow 300ms cubic-bezier(0.55, 0, 0.1, 1) 0ms;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 8px,
    rgba(0, 0, 0, 0.23) 0px 0px 3px -2px, rgba(0, 0, 0, 0.17) 0px 0px 25px;
}
.vote-btns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.proposal-details table thead {
  /* background-color: #0914d9; */
  border-radius: 10px;
  padding: 0px 20px;

  /* background-color: #4c2ffd; */
  background-color: transparent;
  color: #fefcfc;
}

.proposal-details table thead th {
  text-align: center;
  font-size: 1.75rem;
  font-weight: 400;
  padding: 10px;
  border-bottom: 1px solid #fefcfc;
  background-color: #fff;
  color: #7564d4;
  border-radius: 2.4rem 2.4rem 0 0;
}
.proposal-details table td {
  padding: 10px 20px;
}

.proposal-details table td p {
  font-family: "MuseoModerno";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  margin-top: 20px;
}

.proposal-details table {
  border-radius: 2.4rem 2.4rem 2.4rem 2.4rem;
}

.last-proposal {
  border-radius: 0 0 2.4rem 2.4rem;
}

.artist-streams {
  text-align: center;
}

.css-a5rdam-MuiGrid-root > .MuiGrid-item {
  margin-left: 150px;
  margin-top: 50px;
}

@media screen and (min-width: 2561px) {
}

@media screen and (min-width: 2000px) and (max-width: 2560px) {
}

@media screen and (min-width: 1600px) and (max-width: 1999px) {
}

@media screen and (min-width: 1440px) and (max-width: 1599px) {
}

@media screen and (min-width: 1246px) and (max-width: 1439px) {
  // .all-datadao-section2 {
  //   div {
  //     margin: 50px;
  //     display: grid;
  //     grid-template-columns: repeat(auto-fit, minmax(450px, 2fr));
  //     // display: flex;
  //     // flex-direction: column;
  //   }
  // }
  // .proposal-details table {
  //   margin: 0 auto;
  //   width: 40vw;
  //   height: 300px;
  // }
}

@media screen and (min-width: 1024px) and (max-width: 1245px) {
  .all-datadao-section2 {
    div {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(400px, 2fr));
      // display: flex;
      // flex-direction: column;
    }
  }
  .proposal-details table {
    margin: 0 auto;
    width: 45vw;
    height: 300px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .all-datadao-section2 {
    div {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 2fr));
      // display: flex;
      // flex-direction: column;
    }
  }
  .proposal-details table {
    margin: 0 auto;
    width: 330px;
    height: 300px;
  }
}

@media screen and (max-width: 767px) {
  .all-datadao-section2 {
    div {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(200px, 2fr));
      // display: flex;
      // flex-direction: column;
    }
  }
  .proposal-details table {
    margin: 0 auto;
    width: 80vw;
    height: 300px;
  }
  button.create-proposal-btn {
    width: 90px;
    height: 50px;
    margin: 10px;
  }
  .A-proposal-title {
    font-size: 25px;
  }
}
