.datadao-details-main-div {
  width: 100%;
  margin: 20px auto;
  max-width: 1240px;
  z-index: 1000;
}

.maindaoBg{
  background: linear-gradient(256.61deg, #ffa046 -0.6%, #e87825 100%);
  position: absolute;
  height: 150vh;
  width: 100vw;
  top: 0;
  left:0;
  z-index: 1;
}

.datadao-existing-details-title{
  font-size: 3rem;
  font-weight: bold;
}

.datadao-details-desc{
  font-size: 1.3rem;
}


.datadao-details-div {
  /* width: 50%; */
  margin: 0 auto;
}
.padding-div {
  padding: 10px;
}

.datadao-details-button {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.datadao-details-button button {
  // margin: 0px 20px;
  /* width: max-content; */
}
.datadao-details-section1 {
  border-bottom: 1px solid black;
  padding: 20px;
}
.dataset-main-flex {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.datadao-rightbar-flex {
  width: 40%;
}
.datadao-leftbar-flex {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.datadao-details-btn {
  width: 100%;
}
.datadao-details-section2 {
  /* border-bottom: 1px solid black; */
  padding: 20px;
}
.button-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.datadao-width-btn {
  width: 20%;
}
.width-peragraph {
  width: 80%;
}
.datadao-details-btn-padding {
  padding-bottom: 15px;
}
.dataset-main-flex {
  margin-top: 30px;
}
.daodetails-proposal-name {
  padding-left: 10px;
}

button.datadao-details-btn-close {
  width: 120px;
  border-radius: 5px;
  padding: 10px 20px;
  background-color: #4c2ffd;
  color: #fefcfc;
  font-weight: 700;
  border: 1px solid #4c2ffd;
}

table.dao-details-table {
  width: 60%;
  margin: 20px 0px;
  border: none;
  border-radius: 5px;
  background-color: transparent;
  border: 1px solid rgb(45, 45, 45);
}

table.dao-details-table thead {
  background-color: transparent;
  color: #fefcfc;
  font-weight: 700;
  border-radius: 10px;
  border-bottom: 1px solid rgb(45, 45, 45);
}

table.dao-details-table thead th {
  padding: 10px 20px;
  border-right: 1px solid rgb(45, 45, 45);
  border-bottom: 1px solid rgb(45, 45, 45);
}
table.dao-details-table tbody td {
  padding: 10px 20px;
}
table.dao-details-table tbody td:first-of-type {
  border-right: 1px solid rgb(45, 45, 45);
}

table.dataset-main-table {
  background-color: rgb(21, 22, 25);
  color: rgb(255, 255, 255);
  transition: box-shadow 300ms cubic-bezier(0.55, 0, 0.1, 1) 0ms;
  box-shadow: none;
  border: 1px solid rgb(45, 45, 45);
  background-image: linear-gradient(
    rgba(255, 255, 255, 0.03) 0%,
    rgba(255, 255, 255, 0.03) 100%
  );
}

table.dataset-main-table thead {
  background-color: transparent;
  border-bottom: 1px solid rgb(45, 45, 45);
  font-size: 1.2rem;
}

table.dataset-main-table thead th {
  padding: 10px;
  color: #fefcfc;
}
table.dataset-main-table td {
  padding: 10px;
}
button.datadao-details-extra-btn {
  width: 150px;
  border-radius: 10px;
  padding: 10px 20px;
  background-color: #4c2ffd;
  color: #fefcfc;
  font-weight: 700;
  border: 1px solid #4c2ffd;
}

div.Toastify__toast-icon svg {
  fill: #4c2ffd;
}

div.Toastify__progress-bar--success {
  background: #4c2ffd;
}

@media screen and (min-width: 2561px) {
}

@media screen and (min-width: 2000px) and (max-width: 2560px) {
}

@media screen and (min-width: 1600px) and (max-width: 1999px) {
}

@media screen and (min-width: 1440px) and (max-width: 1599px) {
}

@media screen and (min-width: 1024px) and (max-width: 1439px) {
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
}

@media screen and (max-width: 767px) {
  .datadao-details-section2 {
    padding: 20px 0px 20px 0px;
    h1 {
      font-size: 25px;
    }
  }
  .datadao-details-button button {
    margin: 0 auto;
    /* width: max-content; */
  }
  button.datadao-details-extra-btn {
    width: 100px;
    height: 50px;
  }
}
