.template-outer {
  margin-left: -20px;
}

.template-header {
  font-size: 30px;
  font-weight: 800;
  text-align: center;
  margin: 10px;
  color: white;
}

.template-main {
  color: white;
  font-size: 25px;
  font-weight: 500;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  text-align: center;
  padding: 100px 10px 10px 10px;

  div {
    margin: 0 auto;
    width: 50%;
  }
}

.template-data {
  color: white;
  font-size: 20px;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  text-align: center;
  padding: 10px 10px 10px 10px;

  div {
    margin: 0 auto;
    width: 30%;
  }
}

@media screen and (min-width: 2561px) {
}

@media screen and (min-width: 2000px) and (max-width: 2560px) {
}

@media screen and (min-width: 1600px) and (max-width: 1999px) {
}

@media screen and (min-width: 1440px) and (max-width: 1599px) {
}

@media screen and (min-width: 1024px) and (max-width: 1439px) {
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
}

@media screen and (max-width: 767px) {
  .template-main {
    font-size: 20px;
  }

  .template-data {
    font-size: 15px;
  }

  .template-header {
    font-size: 25px;
  }
}
